/*
 ___  __   __  ___  ___  __  
|__  /  \ /  \  |  |__  |__) 
|    \__/ \__/  |  |___ |  \ 
*/
footer{
	height: 120px;
	background-color: #393939;
	color: #cfcfcf;
	text-align: center;
	padding-top: 50px;
}