$mobile:  "only screen and (max-width: 768px)";

$fix:  "only screen and (max-width: 900px)";

$iphone6: "only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)"; 

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  // overflow: hidden;
  // margin: 0;
  // padding: 0;
}

// Containers
.container {
  margin-bottom: 110px;

  .col-50{
    float: left;
    width: 50%;
    overflow: hidden;

    @media (max-device-width: 768px) {
      width: 100%;
    }

    .txt{
      width: 70%;
      margin-left: 20%;
      margin-top: 10%;


      /*@media #{$mobile} {*/
      @media (max-device-width: 768px) {
        margin: 0 auto;
        width: 90%;
      }
    }
    img{
      width: 125%
    }
  }
  .col-100{
    .main{
      margin: 0 auto;
      text-align: center;
      
      img{
          width: 100%
      }

      @media (max-width: 768px) {
        .txt-100 {
          padding-left: 20px;
          padding-right: 20px;
          text-align: left;
        }

        text-align: left;
        margin: 0 auto;
        img {
          width: 125%;
          margin-left: 12px;
        }
      }
      &.first{
        width: 900px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }

      &.second{
        width: 900px;
        .txt-100 {
          @media (max-device-width: 768px) {
            text-align: left;
          }
        }

        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }
  }
  .clear{
    clear:both;
  }

}

.call_to_action{

  .btn-container {
    width: 100%;
    text-align: center;
  }
  .cta_bottom{
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 40px;
    background-color: #00a991;
    color: #ffffff;
    border:none;

    -webkit-box-shadow: -1px 4px 17px 1px rgba(34,34,34,0.47);
    -moz-box-shadow: -1px 4px 17px 1px rgba(34,34,34,0.47);
    box-shadow: -1px 4px 17px 1px rgba(34,34,34,0.47);


    /*// @media #{$mobile} {*/
    @media (max-device-width: 768px) {
      font-size: 50px;
    }
  }
  .cta_bottom:hover {
    background-color: #008976;
  }
}





// Links
a {
  text-decoration: none;
  color: inherit;
  &:hover,&.active {
    color: #40bfad;
  }
}

// Lists
ul {
  list-style: none;
  li {

  }
}


// Headings
h1 {
  font-weight: 300;
}

.subHeading {
  line-height: 1.6;
  margin-bottom: 40px;
  font-size: 18px;
}

h2,h3,h4,h5,h6 {
  font-weight: 400;
}

// Spacing
hr {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 0;
}

// Figures

figure {
  margin: 0;
}

.absolute_center{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}