body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  // overflow: hidden;
  // margin: 0;
  // padding: 0;
  // padding: 55px 0 50px;
}

// Containers
.container {
  // max-width: 1200px;
  margin-bottom: 110px;
  .col-50{
    float: left;
    width: 50%;
    overflow: hidden;
    // display: inline-block;
    // position: relative;
    .txt{
      width: 70%;
      margin-left: 20%;
      margin-top: 10%;
    }
    img{
      width: 125%
    }
  }
  .col-100{
    .main{
      
      margin: 0 auto;
      text-align: center;
      img{
          width: 100%
        }
      &.first{
        width: 600px;
      }
      &.second{
        width: 900px;
      }
    }
  }
  .clear{
    clear:both;
  }

}
// Links
a {
  text-decoration: none;
  color: inherit;
  &:hover,&.active {
    color: #40bfad;
  }
}

// Lists
ul {
  list-style: none;
  li {

  }
}

// Headings
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

// Spacing
hr {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 0;
}

// Figures

figure {
  margin: 0;
}

.absolute_center{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}