body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  // overflow: hidden;
  // margin: 0;
  // padding: 0;
}

// Containers
.container {
  margin-bottom: 110px;

  .col-50{
    float: left;
    width: 50%;
    overflow: hidden;


    @media #{$iphone6} {
      width: 100%;
    }
    @media #{$mobile} {
     /*@media (max-width: 768px) {*/
          width: 100%;
      }

    .txt{
      width: 70%;
      margin-left: 20%;
      margin-top: 10%;


      @media #{$mobile} {
      /*@media (max-width: 768px) {*/
        margin: 0 auto;
        width: 90%;
      }
    }
    img{
      width: 125%
    }
  }
  .col-100{
    .main{
      margin: 0 auto;
      text-align: center;
      img{
          width: 100%
        }

      @media #{$mobile} {
      /*@media (max-width: 768px) {*/
        h1, p {
          padding-left: 20px;
          padding-right: 20px;
        }

        text-align: left;
        margin: 0 auto;
        img {
          width: 125%;
          margin-left: 12px;
        }
      }
      &.first{
        width: 600px;


        @media #{$mobile} {
        /*@media (max-width: 768px) {*/
          width: 100%;
        }
      }
      &.second{
        width: 900px;
        @media #{$fix} {
        /*@media (max-width: 900px) {*/
          width: 100%;
        }
      }
    }
  }
  .clear{
    clear:both;
  }

}

.call_to_action{

  .btn-container {
    width: 100%;
    text-align: center;
  }
  .cta_bottom{
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 40px;
    background-color: #00a991;
    color: #ffffff;
    border:none;


    @media #{$mobile} {
    /*@media (max-width: 768px) {*/
      font-size: 24px;
    }
  }
}





// Links
a {
  text-decoration: none;
  color: inherit;
  &:hover,&.active {
    color: #40bfad;
  }
}

// Lists
ul {
  list-style: none;
  li {

  }
}

// Headings
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

// Spacing
hr {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 0;
}

// Figures

figure {
  margin: 0;
}

.absolute_center{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}