/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{
	height: 800px;
	// background-color: #f3f3f3;
	background: url('images/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 60px;
	.absolute_center{
		width: 50%;
		height: 50%;
	}
	.content{
		position: relative;
		text-align: center;
		img{
			width: 100px;
		}
	}
}
