/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{
	height: 600px;
	background-color: #f3f3f3;
	position: relative;
	.container{
		width: 50%;
		height: 50%;
		text-align: center;
	}
}
